@font-face {
  font-family: OpenSans;
  src: url("assets/fonts/Open_Sans/OpenSans.ttf");
}

* {
  box-sizing: border-box;
}

header {
	border: 1px solid red;
}

main {
  border: 1px solid red;
}

footer {
	border: 1px solid red;
}

body {
	min-height: 100vh;
}
